* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
     --font-family: 'Nunito Sans', sans-serif;
     --font-family2: 'Open Sans', sans-serif;
     --color-red: #FF0000;
     --color-salmon: #FF00004D;
     --color-black: #000000;
     --color-white: #FFFFFF;
}

 .car-section {
     background: url("/images/image.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     min-height: 90vh;
     display: flex;
 }

 header  {
     background-color: #00000066;
     display: flex;
     justify-content: space-between;
     width: 100%;
     border: 2px solid #FFFFFF33;
     position: fixed;
     z-index: 10;
 }

 .logo-left {

     display: flex;
     justify-content: flex-start;
     flex-wrap: nowrap;
     font-family: var(--font-family);
     font-weight: bold;
     font-size: 35px;
     padding: 20px 0 20px 100px;
 }


 span {
     color: var(--color-red);
 }

 .logo-left > p {
     color: #FFFFFF;
 }

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.logo-right > li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul > li > a {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 16px;
    color: var(--color-white);
    padding: 0 25px;
    text-decoration: none;
}

.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.middle-section > h2 {
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 90px;
    box-shadow: #00000040 0 3px 6px;
}

.main-section > p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 16px;
    color: var(--color-white);
}

button > a {
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #F35044;
    color: var(--color-white);
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: bold;
    display: inline-block;
    border-radius: 50px;
    background-color: #FF0000;
}

button {
    background: none;
    border: none;
    margin-top: 70px;
    box-shadow: var(--color-salmon) 0 3px 6px;
    border-radius: 50px;
}

.arrow {
    background-color: var(--color-red);
    height: 33px;
    width: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    box-shadow: var(--color-salmon) 0 3px 6px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.arrow > img {
    padding-bottom: 5px;
    height: 75%;
    width: 75%;
}

.blog-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 50px auto;
}

.blog-title {
    color: var(--color-black);
    font-family: var(--font-family2);
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.blog-title:before, .blog-title:after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--color-red);
    border: #FF0000 solid 1.5px;
    margin: 10px;
}

article {
    text-align: left;
    margin: 0 auto;
}

article > a {
    display: flex;
    justify-content: space-between;
}

.blog-gallery{
    display: flex;
    justify-content: space-around;
    gap: 17px;
}

.blog-image {
    max-width: 300px;
}

.gallery-text {
    margin-top: 10px;
}

.gallery-text > h2 {
    color: #6A6A6A;
    font-family: var(--font-family);
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}

.gallery-text > p {
    color: #6A6A6A;
    font-family: var(--font-family2);
    font-size: 14px;
    font-weight: 300;
}

article > button {
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
}

article > button > a {
    font-family: var(--font-family2);
    font-weight: 300;
    font-size: 14px;
    padding: 5px 24px;
}


.....................

.blog-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 50px auto;
}

.blog-title {
    color: var(--color-black);
    font-family: var(--font-family2);
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.blog-title:before, .blog-title:after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--color-red);
    border: #FF0000 solid 1.5px;
    margin: 10px;
}

article {
    text-align: left;
    margin: 30px 10px;
}

article > a {
    display: flex;
    justify-content: space-between;
}

.service-section {
    background-color: #28272C;
    margin: 50px auto;
}

.service-title {
    color: var(--color-white);
    font-family: var(--font-family2);
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.service-title:before, .service-title:after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--color-red);
    border: #FF0000 solid 1.5px;
    margin: 10px;
}

.service-gallery {
    display: flex;
    justify-content: space-between;
    gap: 17px;
    margin: auto 50px;
}

.service-image {
    max-width: 300px;
    size: 70%;
}

.service-text {
    margin-top: 10px;
}

.service-text > h2 {
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}

.service-text > p {
    color: #B2B2B2;
    font-family: var(--font-family2);
    font-size: 14px;
    font-weight: 300;
}

article > button {
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
}

article > button > a {
    font-family: var(--font-family2);
    font-weight: 300;
    font-size: 14px;
    padding: 5px 24px;